services:
  mongodb:
    image: mongo:7
    container_name: food-delivery-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: food_delivery

  redis:
    image: redis:7-alpine
    container_name: food-delivery-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
